@model Notary.Models.Note

@{ ViewData["Title"] = "Details"; }

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <h4>@Model.DateCreated.ToString("dd-MMM-yyyy")</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
    </dl>


</div>
<div>
    <button class="btn btn-outline-primary">
        <a asp-action="Edit" style="color:black" asp-route-id="@Model.ContentID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
    </button> |
    <button class="btn btn-outline-danger"><a asp-action="Delete" style="color:black" asp-route-id="@Model.ContentID"><i class="fa fa-times" aria-hidden="true"></i>Delete</a></button> |
    <button class="btn btn-outline-secondary"><a asp-action="Index" style="color:black"><i class="fa fa-list-ul" aria-hidden="true"></i>Back to List</a></button>
</div>
<br />
<hr />