@model Notary.ViewModel.EntryViewModel


@{ ViewData["Title"] = "Index";}

<h1>Notes</h1>

<p>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-plus-square"> Add Item</i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- Create New Note Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-note-modal-lg"><i class="fa fa-file-text-o" aria-hidden="true"></i> New Note</button>
            <!-- Create New Folder Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-folder-modal-lg"><i class="fa fa-folder-open"></i> New Folder</button>
        </div>
    </div>
    
    
</p>
<form class="search-wrapper cf" asp-controller="Note" asp-action="Index" method="GET">
    <input class="form-control" placeholder="Search for Entry Title" name="SearchString" type="text">
</form>
<hr/>
<div class="row">
@foreach (var item in Model.Entries)
    {
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="~/img/document.jpg" class="card-img-top" alt="Document Icon">
                <div class="card-body">
                    <p class="card-title"><a asp-action="Details" asp-route-id="@item.ContentID">@Html.DisplayFor(modelItem => item.Title)</a></p>
                    <center><a asp-action="Edit" asp-route-id="@item.ContentID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Note</a></center>
                </div>
            </div>
        </div>
        <Hr/>
    }
</div>
<hr/>
<div class="row">
@foreach (var item in Model.Folders)
    {
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-title"><i class="fa fa-folder"><a asp-action="FolderDetails" asp-route-id="@item.FolderID"> @Html.DisplayFor(modelItem => item.FolderName)</a></i></p>
                    
                </div>
            </div>
        </div>
        <Hr/>
    }
</div>

<!--Start Create New Entry Modal-->
<div class="modal fade bd-note-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Entry.Title" class="control-label"></label>
                                <input asp-for="Entry.Title" class="form-control" />
                                <span asp-validation-for="Entry.Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Entry.DateCreated" class="control-label"></label>
                                <input asp-for="Entry.DateCreated" class="form-control" id="datepicker" />
                                <span asp-validation-for="Entry.DateCreated" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Entry.Description" class="control-label"></label>
                                <textarea cols="250" asp-for="Entry.Description" class="textarea" placeholder="Place some text here"
                                          style="height: 550px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; border-radius:3px; padding: 10px;"></textarea>
                                <span asp-validation-for="Entry.Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Entry.AppUser.Id" name="ApplicationUser" />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Create Note</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End Create New Entry Modal-->


<!--Start Create New Folder Modal-->
<div class="modal fade bd-folder-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateFolder">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Folder.FolderName" class="control-label"></label>
                                <input asp-for="Folder.FolderName" class="form-control" />
                                <span asp-validation-for="Folder.FolderName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Create Folder</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End Create New Folder Modal-->


<br />
<hr />